<%= form_for(@fornecedor) do |f| %>
  <% if @fornecedor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fornecedor.errors.count, "error") %> prohibited this fornecedor from being saved:</h2>

      <ul>
      <% @fornecedor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :Telefone %><br>
    <%= f.text_field :nr_telefone %>
  </div>
  <div class="field">
    <%= f.label "Telefone 2" %><br>
    <%= f.text_field :nr_telefone2 %>
  </div>
  <div class="field">
    <%= f.label :contato %><br>
    <%= f.text_field :contato %>
  </div>
  <div class="field">
    <%= f.label :rua %><br>
    <%= f.text_field :rua %>
  </div>
  <div class="field">
    <%= f.label :nr_endereco %><br>
    <%= f.text_field :nr_endereco %>
  </div>
  <div class="field">
    <%= f.label :bairro %><br>
    <%= f.text_field :bairro %>
  </div>
  <div class="field">
    <%= f.label :cidade %><br>
    <%= f.text_field :cidade %>
  </div>
  <div class="field">
    <%= f.label :cep %><br>
    <%= f.text_field :cep %>
  </div>
  <div class="field">
    <%= f.label :uf %><br>
    <%=f.select(:uf, @UFs) %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
